<p class="copyright">© <i class="import_year"></i> Projet Web</p>
<div class="footer_content">

    <div id="fpages">
        <h3>Pages:</h3>
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="equipe.html">Equipe</a></li>
            <li><a href="realisations.html">Réalisations</a></li>
            <li><a href="partenaires.html">Partenaires</a></li>
            <li><a href="tarifs.html">Tarifs</a></li>
            <li><a href="emploi.html">Emploi</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <ul id="fcontact">
        <p>Addresse : <i class="import_addr"></i></p>
        <p>Téléphone : <i class="import_tel"></i></p>
        <p>Email : <i class="import_email"></i></p>
    </ul>
    <div id="flinks">
        <img src="images/logos/fb.png">
        <img src="images/logos/twitter.png">
        <img src="images/logos/logo-linkedin.png">
        <img src="images/logos/insta.png">
    </div>

</div>
