#list_emploi p {
	padding: .3rem;
	font-weight: normal;
	margin-top: 1rem;
	font-size: 1.2rem;
}

#list_emploi div > p:last-child {
	 margin-top: 2rem;
 }

.main_title {
	margin-top: 1rem;
	font-family: cursive;
}

#list_emploi {
	display: grid;
	grid-gap: 3rem;
	padding: 2rem 20%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: row;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

#list_emploi div {
	margin: .3rem auto;
	border: solid 2px var(--color-dark);
	padding: .2rem 7rem;
	border-radius: 10px;
}
